@model TaskList.ViewModels.RegisterModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}

<h2>Форма регистрации</h2>
<form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Login">Введите Логин</label>
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите Пароль</label>
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Введите Подтверждение пароля</label>
            <input type="Password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Регистрация" class="btn-outline-dark"/>
        </div>
    </div>
</form>